.hero {
  background: transparent
    url('/src/assets/homepageassets/Component\ 33\ –\ 1@2x.png') 0% 0% no-repeat
    padding-box;
  background-size: cover;
  min-height: 100vh;
  background-repeat: no-repeat;
  opacity: 1;
  display: flex;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: white;
}

.left-content h3 {
  font-size: 2rem;
  letter-spacing: 3.2px;
}

.left-content h1 {
  font-size: 4rem;
  text-transform: uppercase;
}

.left-content p {
  font-size: 1.3rem;
  letter-spacing: 2.4px;
  margin-top: 2rem;
}
