.bookings {
  background-color: var(--main-color);
  position: fixed;
  width: 100vw;
  top: 10vh;
  z-index: 10;
}

.bookings-container {
  height: 7.18rem;
  opacity: 1;
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
}

.booking-btn {
  background-color: black;
  color: #fff;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 4px;
  display: flex;
}

.modify-booking {
  color: #fff;
  font-size: 1.3rem;
}

.book-now {
  position: relative;
}
.book-now-btn {
  cursor: pointer;
}
.booking-icon {
  width: 13.93rem;
  height: 5.75rem;
  position: absolute;
  right: -8rem;
  top: -8.2rem;
}

.book-now-text {
  color: var(--main-color);
  position: absolute;
  top: -6.2rem;
  right: -4.5rem;
  font-weight: var(--fw-light);
}
