.rooms-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline: auto;
}

.rooms {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.selected-rooms {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

.rooms-selected {
  color: var(--main-color);
}

.room-selected-text {
  color: #e6e6e6;
  margin-right: 0.4rem;
}

.rooms-selected-page {
  color: #fff;
  background-color: var(--main-color-light);
}
