.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.logo {
  width: 5rem;
  height: 4rem;
}

.nav {
  position: absolute;
  right: 10%;
}

.nav-items {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  font-size: 1rem;
  /* position: sticky;
  top: 0; */
}

.nav-items a {
  color: var(--title-color);
  border-right: 0.2px solid #e6e6e6;
  padding: 0rem 2rem;
}

.nav-items a:hover {
  color: var(--main-color);
  transition: color 0.8sec ease;
}
