.why-us-card {
  display: flex;
  align-items: center;
  min-height: 91px;
  width: 364px;
  background-color: #fff;
  min-width: 364px;
  border-radius: 8px;
  font-size: 1rem;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.icon-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  padding: 1;
  border-radius: 50%;
  background-color: var(--bg-color-light);
  margin-right: 1.2rem;
}

.icon {
  width: 35px;
  height: 28px;
}

.why-us-card-title {
  color: var(--title-color);
  text-align: left;
}
