.input-group {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.6rem;
  color: var(--title-color);
  font-weight: var(--fw-bold);
}

.input {
  min-width: 180px;
  border: 1px solid #e6e6e6;
  height: 42px;
  border-radius: 4px;
  opacity: 1;
  outline: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: var(--font-family-main);
  margin-bottom: 0.6rem;
}

.input-icon {
  width: 23px;
  height: 26px;
  position: absolute;
  right: 5%;
  top: 15%;
}

.input-group-icon {
  position: relative;
}
