.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.label {
  margin-bottom: 0.8rem;
  color: #fff;
}

.input {
  max-width: 180px;
  border: 1px solid #e6e6e6;
  height: 42px;
  border: none;
  border-radius: 4px;
  opacity: 1;
  outline: none;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-family: var(--font-family-main);
}

.input-icon {
  width: 23px;
  height: 26px;
  position: absolute;
  right: 5%;
  top: 55%;
}
