@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  /** =============================== FONTS  ===============================*/
  --font-family-main: 'Lato', sans-serif;

  --fw-bold: 700;
  --fw-bold: 400;

  --fs-14: 0.8rem;
  --fs-16: 1rem;
  --fs-18: 1.12rem;
  --fs-20: 1.25rem;
  --fs-23: 1.43rem;
  --fs-32: 2rem;
  --fs-40: 2.5rem;
  --fs-60: 3.75rem;

  /** =============================== Margins  ===============================*/
  --mb-3: 3rem;
  --mb-2: 2rem;
  --mb-1: 1rem;

  /** =============================== COLORS  ===============================*/

  --main-color: #e58518;
  --main-color-light: #f39220;

  --bg-color-white: #fff;
  --bg-color-light: #fef7ef;

  --title-color: #0f0000;
  --description-color: #1c1c1c;
  --para-color: #545454;
  --form-text-color: #313131;
}

/** =============================== Reset  ===============================*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/** =============================== Custom Classes  ===============================*/

.section {
  padding: 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.section-title {
  margin: 3rem 0;
  font-size: 40px;
  color: var(--title-color);
}

.section-description {
  font-size: 1rem;
  letter-spacing: 0.38px;
  color: var(--description-color);
  max-width: 60%;
  text-align: center;
  line-height: 36px;
  margin-bottom: 3rem;
}

.container {
  padding-inline: 8rem;
}

body {
  font-family: var(--font-family-main);
  font-size: 16px;
}
